
{% extends "base.html" %}
{% block content %}
    <div class="carousel slide" data-ride="carousel" id="slide">
      <ul class="carousel-indicators">
        <li data-target="#slide" data-slide-to="0" class="active"></li>
        <li data-target="#slide" data-slide-to="1"></li>
        <li data-target="#slide" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://img1.akspic.com/image/104850-nature-formation-national_park-watercourse-tourist_attraction-2560x1440.jpg" alt="">
          <div class="carousel-caption">
            <h1 class="display-4">What's going on!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut repudiandae dicta aspernatur ab amet. 
              Quis optio aliquam qui itaque fugit expedita quos tempore ipsa laborum cumque illo maiores veniam, 
              deserunt in laudantium veritatis at cum corporis perspiciatis similique sunt. 
              Aliquid nesciunt temporibus mollitia consequatur optio quia ab nihil dolores rerum...</p>
            <button type="button" class="btn btn-outline-light btn-lg">Learn more...</button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://stmed.net/sites/default/files/manhattan-bridge-wallpapers-28713-6320213.jpg" alt="">
          <div class="carousel-caption">
              <h1 class="display-4">For all mankind!</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta cupiditate, veniam voluptate, 
                at ipsam placeat fugit sint eaque autem, nulla fugiat alias! Fugit blanditiis, 
                adipisci explicabo vel assumenda commodi! Ducimus, molestiae atque tempora vero commodi sit repellat. 
                deserunt amet ipsam harum possimus voluptatem! Quidem illum quam ea excepturi autem!</p>
                <button type="button" class="btn btn-outline-light btn-lg">Learn more...</button>
            </div>
        </div>
        <div class="carousel-item">
          <img src="https://c.wallhere.com/photos/e7/46/landscape_nature-159249.jpg!d" alt="">
          <div class="carousel-caption">
              <h1 class="display-4">This is the way!</h1>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, aliquam. 
                Qui molestiae nulla accusamus dolor obcaecati ratione consequuntur natus sapiente voluptatem voluptatibus repellat, 
                beatae, magnam voluptas quidem consectetur illum optio blanditiis sunt possimus saepe eius. 
                Autem quo omnis quae earum. Ab consequatur ipsam eum. Dolore laboriosam eius sequi quisquam harum.</p>
                <button type="button" class="btn btn-outline-light btn-lg">Learn more...</button>
            </div>
        </div>
      </div>
    </div>
    <div class="text-center header">
      <h2>Latest articles:</h2>
      <hr>
   </div>
   {% for art in articles %}
    <div class="container-fluid">
      <div class="row jumbotron">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-2">
              <img class="img-fluid news-img" src="https://ic.pics.livejournal.com/denilkhanov/42597978/258070/258070_900.jpg" alt="">
            </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-8">
          <h3>{{art.title}}</h3>
          <p class="lead">{{art.text}}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <a href="{% url 'articles' art.id  %}"><button class="btn btn-success btn-lg content-center"> Read more...</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
    
    <div class="container-fluid">
       <div class="row text-center alert">
         <div class="col-12">
           <h1 class="display4">Topics</h1>
           <hr>
         </div>
       </div>
    </div>
    <div class="container-fluid padding">
      <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 bottom-block">
          <i class="fa fa-align-left"></i>
          <h3>Is Trump an alien?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id modi praesentium quod nihil est itaque consequuntur enim neque pariatur commodi?</p>
          <p class="topic">POLITICS</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 bottom-block">
            <i class="fa fa-align-justify"></i>
            <h3>How about that, Elon Musk</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id modi praesentium quod nihil est itaque consequuntur enim neque pariatur commodi?</p>
            <p class="topic">TECHNOLOGIES</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 bottom-block">
              <i class="fa fa-align-right"></i>
              <h3>Belarusian economy falls down</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id modi praesentium quod nihil est itaque consequuntur enim neque pariatur commodi?</p>
              <p class="topic">FINANCE</p>
            </div>
      </div>
      <hr class="my-4">
    </div>
    <div class="container-fluid padding">
      <div class="row padding">
        <div class="offset-lg-2 col-lg-4">
          <h2>Learn programming now!</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Molestias aperiam nisi tempore non deleniti quasi, 
            animi repellendus debitis autem illo ea necessitatibus consectetur veniam.
            <br><br> 
            Porro ad hic distinctio inventore, nobis nisi perferendis veniam officia possimus mollitia earum et?
            Animi doloremque aliquid explicabo! 
            Nobis nesciunt culpa ipsam dolores quidem unde veritatis!</p>
            <br>
            <a href="#" class="btn btn-danger">Read more...</a>
        </div>
        <div class="col-lg-4">
          <br>
          <img src="https://aqm.by/upload/dev2fun_opengraph/ed0/ed01b8b8c058152faa0f6928d68b88b8.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  <div class="text-center">
      <button type="button" class="btn btn-success text-center open-photos" data-toggle="collapse" data-target="#gifs">
          Open information
        </button>
  </div>
  <div id="gifs" class="collapse">
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-sm-6 col-md-3">
          <img src="https://cdn.freelance.ru/img/portfolio/pics/00/2B/49/2836854.jpg?mt=b62f6380" alt="" class="gif img-fluid">
        </div>
        <div class="col-sm-6 col-md-3">
            <img src="https://c.pxhere.com/photos/a5/9f/code_coder_coding_computer_data_developer_developing_development-918274.jpg!d" alt="" class="gif img-fluid">
        </div>
        <div class="col-sm-6 col-md-3">
            <img src="https://techlaunch.io/blog/wp-content/uploads/2018/07/oskar-yildiz-631351-unsplash.jpg" alt="" class="gif img-fluid">
        </div>
        <div class="col-sm-6 col-md-3">
            <img src="https://aevrika.ru/media/f/2018/09/code-coding-computer-574071.jpg" alt="" class="gif img-fluid">
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}